<launch>
    <param name="/use_sim_time" value="true"/>

    <!-- 坐标系转换节点 -->
    <node pkg="vision_node" type="imu_converter.py" name="imu_converter" output="screen"/>
    <node pkg="vision_node" type="lidar_converter_node" name="lidar_converter" output="screen"/> <!-- C++节点 -->
    <node pkg="vision_node" type="gps_converter.py" name="gps_converter" output="screen"/>

    <!-- LIO‑SAM主节点 -->
    <include file="$(find lio_sam)/launch/run.launch"/>
</launch>