<launch>

    <include file="$(find fast_lio)/launch/mapping_marsim.launch"/>
    
    <include file="$(find path_sender)/launch/path_sender.launch"/>

    <!-- <node pkg ="imu_gps_odometry" name ="imu_gps_odometry" type ="imu_gps_odometry" output = "screen"/> -->

    <include file="$(find ego_planner)/launch/single_drone.launch"/>

</launch>

